body {
  font-family: sans-serif;
  max-width: 700px;
}


input[type="button"] {
  border-radius: 5px;
  border: 1px solid #468f7f;
  color: #468f7f;
  background-color: white;
}

.hidden {
  color: white;
}

#toaster {
  display: flex;
}

.toaster-content {
  background-color: #f8d7da;
  border-radius: 0.5em;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.toaster-hide {
  text-align: right;
  cursor: pointer;
  padding-left: 1em;
}

#form {
  margin-top: 1em;
  text-align: center;
}

.picture-cipher {
  font-size: 2em;
}

.picture-cipher-img {
  width: 150px;
  height: 100px;
  vertical-align: middle;
  margin: 0.25em;
}

#stageOneCode {
  font-family: monospace;
  letter-spacing: 0.5em;
  font-size: 2em;
  text-align: center;
}

/* Table number selector */
.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 7em;
  height: 14em;
  padding-left: 0; /* no idea what is giving this element 40px of left padding */
}

.scroll-container li {
  display: flex;
  justify-content: center;
  font-size: 3em;
}

.scroll-container li.top {
  padding-top: 1em;
}

.scroll-container li.bottom {
  padding-bottom: 3em;
}

#form_table {
  position: relative;
}

#form_table input {
  position: absolute;
  top: 0;
  bottom: 33%;
  left: 75%;
  right: 10%;
  margin: auto;
  height: 2em;
  padding: 0 2em 0 2em;
}

.box {
  border: 1px solid;
  position: absolute;
  width: 6em;
  height: 3em;
  top: 3em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.2em;
  pointer-events: none;
}

#lock_form {
  position: relative;
  background-image: url('/images/thehunt/lock.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 35em;
}

#lock_form input {
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 80%;
  right: 5%;
  margin: auto;
  height: 3em;
}

#lock {
  display: flex;
  margin: auto;
  width: 16em;
  font-family: 'Saira';
  padding-top: 18em;
}

#lock ul {
  background: linear-gradient(to bottom, #8c9093 0%,#b6babd 9%,#ccd2d6 18%,#ffffff 55%,#ccd2d6 82%,#b6babd 91%,#8c9093 100%);
  border-radius: 5px;
  margin-right: 1em;
}

#lock li {
  box-shadow: inset -4px -7px 3px gray, inset 4px 7px 4px white;
}

#file-preview {
  visibility: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

#file-upload-progress {
  visibility: hidden;
}

.file-submit-container {
  display: flex;
  padding: 1em;
}
