body {
  font-family: sans-serif;
  max-width: 700px;
}


input[type="button"] {
  border-radius: 5px;
  border: 1px solid #468f7f;
  color: #468f7f;
  background-color: white;
}

.hidden {
  color: white;
}

#toaster {
  display: flex;
}

.toaster-content {
  background-color: #f8d7da;
  border-radius: 0.5em;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.toaster-hide {
  text-align: right;
  cursor: pointer;
  padding-left: 1em;
}

#form {
  margin-top: 1em;
  text-align: center;
}

.picture-cipher {
  font-size: 2em;
}

.picture-cipher-img {
  width: 150px;
  height: 100px;
  vertical-align: middle;
  margin: 0.25em;
}

.code {
  font-family: monospace;
  letter-spacing: 0.5em;
  font-size: 2em;
  text-align: center;
}

/* Table number selector */
.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 7em;
  height: 14em;
  padding-left: 0; /* no idea what is giving this element 40px of left padding */
}

.scroll-container li {
  display: flex;
  justify-content: center;
  font-size: 3em;
}

.scroll-container li.top {
  padding-top: 1em;
}

.scroll-container li.bottom {
  padding-bottom: 3em;
}

#form-table {
  position: relative;
}

#form-table input {
  position: absolute;
  top: 0;
  bottom: 33%;
  left: 75%;
  right: 10%;
  margin: auto;
  height: 2em;
  padding: 0 2em 0 2em;
}

.box {
  border: 1px solid;
  position: absolute;
  width: 6em;
  height: 3em;
  top: 3em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.2em;
  pointer-events: none;
}

#lock-form {
  position: relative;
  background-image: url('/images/thehunt/lock.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 35em;
}

#lock-form input {
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 80%;
  right: 5%;
  margin: auto;
  height: 3em;
}

#lock {
  display: flex;
  margin: auto;
  width: 16em;
  font-family: 'Saira';
  padding-top: 18em;
}

#lock ul {
  background: linear-gradient(to bottom, #8c9093 0%,#b6babd 9%,#ccd2d6 18%,#ffffff 55%,#ccd2d6 82%,#b6babd 91%,#8c9093 100%);
  border-radius: 5px;
  margin-right: 1em;
}

#lock li {
  box-shadow: inset -4px -7px 3px gray, inset 4px 7px 4px white;
}

.lock-hint {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
  padding-right: 1.5em;
}

#file-preview {
  visibility: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

#file-upload-progress {
  visibility: hidden;
}

.file-submit-container {
  display: flex;
  padding: 1em;
}

#grid {
  position: relative;
  display: grid;
  /* has to match the size of the grid */
  grid-template-columns: repeat(13, 2em);
  grid-template-rows: repeat(32, 2em);
  grid-row-gap: 0;
  grid-column-gap: 0;
}

#inner-grid {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
}

.grid-line {
  width: 2em;
  height: 2em;
  display: inline-block;
}

.grid-line.middle {
  border: 1px solid #F5F5F5;
}

.grid-line.top, .grid-line.bottom {
  border-left: 1px solid #F5F5F5;
  border-right: 1px solid #F5F5F5;
}

.grid-line.left, .grid-line.right {
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
}

.grid-line.top {
  border-top: 1px solid white;
  border-bottom: 1px solid #F5F5F5;
}

.grid-line.bottom {
  border-bottom: 1px solid white;
  border-top: 1px solid #F5F5F5;
}

.grid-line.left {
  border-left: 1px solid white;
  border-right: 1px solid #F5F5F5;
}

.grid-line.right {
  border-right: 1px solid white;
  border-left: 1px solid #F5F5F5;
}

.bubble {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  border-radius: 50%;
  text-align: center;
  /* width should be height + line-height */
  width: 3em;
  height: 2em;
  /* line-height and padding-top should be the same */
  line-height: 1em;
  padding-top: 1em;
}

.bubble.green {
  background-color: green;
  color: white;
}

.bubble.pink {
  background-color: pink;
  color: white;
}
